@use "../abstracts/index" as *;

.container {
    width: Min(90%, pxToRem(1110));
    margin-inline: auto;
}

.bg-white {
    background-color: $clr-primary-white;
}

.bg-moderate-violet {
    background-color: $clr-primary-moderate-violet;
}

.bg-very-dark-grayish-blue {
    background-color: $clr-primary-very-dark-grayish-blue;
}

.bg-very-dark-blackish-blue {
    background-color: $clr-primary-very-dark-blackish-blue;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}